@import './styles/shared';

// Disables iOS' inertial scrolling.
:global(body) {
  @include full-screen;
  position: fixed;
}

:global(#root) {
  background-color: $color-dark;
}

body {
  margin: 0;
  overflow: hidden;
}

.App {
  @include full-screen;
}

.canvas {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.canvasTarget {
  background-color: $color-mediumgray;
  bottom: 0;
  display: block;
  position: absolute;
  right: 0;
  width: 50vw;
  z-index: 100;
}

.queryCanvas {
  background-color: $color-mediumgray;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  width: 50vw;
  z-index: 100;
}

.displayCanvas {
  position: absolute;
}

.performanceLevelDisplay {
  color: $color-red;
  font-size: 20pt;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 50px;
}

video {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 100vw;
}
