$global-px-unit: 8px;

$color-dark-33: rgba(0, 0, 0, 0.33);

$color-dark: #1c1c1c;
$color-gray: #3a3a3a;
$color-mediumgray: #8c8c8c;
$color-lightgray: #f6f6f6;
$color-teal: #75f9fa;
$color-white: #fff;
$color-red: #cb3e46;

$button-margin: 10px;
$color-light-blue: #67c3d8;
$animation-duration: 200ms;
$transition-duration: 150ms;

$shutter-button-size: 64px;
$shutter-margin: 8px;
$shutter-border: 6px;
